<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @registration.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @registration.event %>
</p>

<p>
  <strong>Message:</strong>
  <%= @registration.message %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
